html{
    scroll-behavior: smooth;     
}

body{
    font-family: 'Roboto', sans-serif; 
}
/* header starts */
header{
    
    background:#f6ede6;
    border-radius: 10px;
    margin-bottom: 40px;
}
        /* navbar starts */
.link-nav{
    color:#3C3C3C;
    margin-right:20px;
    font-weight: bold; 
    
}

.link-nav:hover{
    border-radius:15px;
    color:rgb(236, 227, 227);
    background-image: linear-gradient(45deg, orange,#FA804C,tomato);
    transform:scale(1.1);
    box-shadow: 5px 5px 5px rgba(128,128,128, 0.75);  
    
}
.nav-sec{
    margin-bottom: 50px;
}
     /* header-image */
.heading-image{
    height: 440px;
    width:470px;
}
.header-description h1{
    font-family: 'Bebas Neue', cursive;
    line-height: 80px;
    font-size: 80px;
    font-weight:700;

}
.header-description p{
    font-family:'Roboto', sans-serif ;
    font-weight:400;
    color:#3E3E3E;
    line-height: 26px;
}
.header-description .highlight{
    color:#FA804C;
}
.cart-button{
    background:#3B4CE7;
    color:white;
    border-radius: 10px;
    font-weight: 500;
 }
 .cart-button:hover{
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    color:rblack;
    font-weight:bold;
    font-size:20px;
}

/* header ends */

/* product starts */
.product
{
    background:#F1F1F1;
    padding:40px 60px 60px 60px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.shoe-card-casual,.shoe-card-formal{
    box-shadow:10px 10px 10px rgba(0, 0, 0, 0.15);
    border-radius:10px;
    background:#F1F1F1;
}

.shoe-card-casual img{
    height:300px;
    width:95%;


}
.shoe-type{
    font-family:'Bebas Neue', cursive;
    font-size:45px;
    color:rgb(78, 59, 59);
    text-shadow: 5px 5px 5px rgba(236, 230, 230, 0.8);
}
.card-title-custom
{
    color:#363958;
    font-weight: 700;
    font-size:24px;
}
.price h3{
    color:#F57224;
    font-size:25px;
}
.price{
    border:none;
    background:rgba(223, 214, 214, 0.788);
}

.logo{
    height:82px;
    width:78px;
}
.logo-image img{
    height:350px;
    width:400px;
    margin-bottom:50px;
}

.logo-sec{
    background:rgb(230, 227, 227);
    padding:25px;
    margin-bottom:20px;
    border-radius:10px;
    box-shadow:5px 5px 3px rgba(128,128,128, 0.75);
   
}


/* customer review starts */

.icon-style{  
    padding-bottom: 10px;
    color:black;
}
.customer-shadow{
    transition: .4s;
    border-radius:10px;
    box-shadow: 2px 6px 5px darkgray;

}
.customer-shadow:hover{
  transform: scale(1.1,1.15);
  box-shadow: 2px 6px 5px darkgray;
}

/* contact section */

.contact{
    padding: 2% 10%;
    color:rgba(6, 52, 83);
    background: #e6e3e3;
    border-radius: 10px 10px 0px 0px;
}
.form-group label{
    margin-bottom: 0;
    font-weight: bold;
}
label{
    font-size: 20px;
}
.form-bg{
    background: rgba(206, 233, 208,.7);
}
.form-group input[type="text"]:focus,.form-group input[type="email"]:focus{
    border: 2px solid rgb(3, 82, 10);
    box-shadow: none;
}

/* footer section */
.foot{
    padding: 3% 10%;
    background: #5a5959;
    border-radius: 0px 0px 10px 10px ;
}

.foot a {
    color: white;
    margin: 0 10px;

}
.foot a:hover{
    color: black;
}
